USE [master]
GO
/****** Object:  Database [SeniorIA]    Script Date: 19/05/2026 22:25:26 ******/
CREATE DATABASE [SeniorIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeniorIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVERDAVID\MSSQL\DATA\SeniorIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeniorIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVERDAVID\MSSQL\DATA\SeniorIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeniorIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeniorIA]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/05/2026 22:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombre], [correo], [password_hash], [fecha_registro]) VALUES (1, N'Melany', N'melanycastillo@gmail.com', N'$2b$12$6RMd5n../orWndDpSvUg7uJr6oO7VBQStJUbad5G5pbSOwJRPMXQ2', CAST(N'2026-05-14T10:15:58.337' AS DateTime))
INSERT [dbo].[Usuarios] ([id], [nombre], [correo], [password_hash], [fecha_registro]) VALUES (2, N'josedavid3084', N'josedavid3084@hotmail.com', N'$2b$12$8UrNy0bX60cBoDf0Ck9.E.os85QLlbLpXAEEuJWKrNXJf8SDvbDFm', CAST(N'2026-05-14T10:57:22.530' AS DateTime))
INSERT [dbo].[Usuarios] ([id], [nombre], [correo], [password_hash], [fecha_registro]) VALUES (3, N'dg102090', N'dg102090@gmail.com', N'$2b$12$m939Kqm8.AuV37avJaVOPOGIGQ7loN.lDJs4io/007XhOPnEPP.V2', CAST(N'2026-05-14T12:01:30.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2A586E0B8CA6B9CC]    Script Date: 19/05/2026 22:25:27 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
USE [master]
GO
